/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/pexels-pixabay-270348.jpg') no-repeat center center fixed; /* Adjusted the path */
    background-size: cover; /* Make sure the background image covers the entire screen */
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Add a white background with transparency */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

/* Profile Picture */
.profile-pic {
    width:200px;
    height: 200px;
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #5a75ff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #5a75ff;
}
